
.footer-container {
	display: flex;
	justify-content: center;
	background-color: #282828;
}
.footer {
	color: white;
	height: 30vh;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
}

.footer-left {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1rem;
}
.footer-right {
	display: flex;
	padding: 2rem;
	text-align: end;
	flex-direction: column;
	gap: 1rem;
}