input {
	padding: 0.5rem 1rem;
	color: #888888;
	width: 60%;
	outline: none;
	border: 4px solid black;
	border-radius: 8px;
	font-weight: 600;
	font-style: 20px;
	line-height: 160%;
}

button {
	background-color: black;
	color: white;
	font-weight: 700;
	border-radius: 8px;
	font-style: 20px;
	line-height: 160%;
	padding: 1rem 2rem;
}

.register-container{
    /* margin-right: 20%; */
    display: flex;
    justify-content: space-between;
}