
.header-container {
	display: flex;
	justify-content: center;
	background-color: #ffcd9e;
}
.header {
	height: 70vh;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
}

.header-left{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-left h1{
    font-size: 36px;
	font-weight: 700;
	line-height: 130%;
	color: #282828;
}

.header-left h3{
    font-size: 18px;
	font-weight: 800;
	line-height: 160%;
	color: #282828;
}

.header-left p {
    line-height: 120%;
	font-size: 20px;
	font-weight: 500;
	color: #484848;
}

.header-right{
    width: 50%;
}

.image-container{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.image-container img{
    height: 400px;
}

#text{
    font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	color: white;
	padding-left: 2rem;
}